.inner-container{
    gap: 1.5rem;
    background: #4161df;
    padding: 2rem;
    border-radius: 10px;
    border: 1px solid #5d77d6;
    text-align: center;
    -webkit-border-radius: 10;
    -moz-border-radius: 10;
    -ms-border-radius: 10;
    -o-border-radius: 10;
}

.inner-container .primaryText{
    color: white;
    font-weight: 600;

}
.inner-container .secondaryText{
    color: rgba(255, 255, 255, 0.587);
}

.inner-container .button{
    background: #5a73d7;
    border: 2px solid white;
    box-shadow: var(--shadow);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}